@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.169);
}

body {
    background-color: rgb(27, 27, 49);
    color: blanchedalmond;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 800;
    font-size: 50px;
}

.navbar a {
    font-size: 25px;
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 600;
    margin: 40px;
    transition: .2s ease-in-out;
}

.navbar a:hover {
    color: aqua;
    text-decoration: underline;
    font-size: 28px;
}

.home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}


.home-content {
    max-width: 600px;
    text-align: center;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 600;
}

.home-content h3 {
    font-size: 40px;
    font-weight: 800;
    color: aqua;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 240px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    width: 100px;
    height: 100%;
    border: 2px solid aqua;
    border-radius: 50px;
    font-size: 19px;
    color: aqua;
    font-weight: 600px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.btn-box a:hover {
    background: aqua;
    color: rgb(23 23 61);
}

.container {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    z-index: 1;
}

.container .card {
    display: flex;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.container .card .content {
    justify-content: center;
    padding: 30px;
    text-align: center;
    transition: 0.5s;
    margin-top: 80px;
}

.container .card .content img {
    position: absolute;
    left: 31%;
    top: 6.5%;
    width: auto;
    height: 110px;
    pointer-events: none;
    opacity: 70%;
}

.container .card .content h3 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
    z-index: 1;
}

.container .card .content p {
    font-size: 17px;
    font-weight: 900px;
    margin-bottom: 15px;
}

#git {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: red;
    display: inline-block;
    margin-top: 13px;
    padding: 10px;
    background: linear-gradient(to right, #474747, #646363, #717171);
    color: #000000;
    border-radius: 50px;
    opacity: 80%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

#insta {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: red;
    display: inline-block;
    margin-top: 13px;
    padding: 10px;
    background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    color: #000000;
    border-radius: 50px;
    opacity: 80%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

#linkedin {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: red;
    display: inline-block;
    margin-top: 13px;
    padding: 10px;
    background: linear-gradient(to right, #0075b4, #0197e8, #68caff);
    color: #000000;
    border-radius: 50px;
    opacity: 80%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

/* ------ */

.about-content {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content h3 {
    font-size: 2.5em;
    text-underline-offset: 8px;
}

.about-content p {
    margin-top: 30px;
    max-width: 600px;
    font-size: large;
}